@{
    ViewData["Title"] = "Contact";
}
<img src="~/images/contact.jpg" alt="Garage Sale" asp-append-version="true"
     class="img-fluid col-sm-4 text-center" style="width:100%;border:solid; border-color: black; " />
<p> Elm Way
    Traverse City, MI 49684
</p>

