@{
    ViewData["Title"] = "ReSell";
}

<div class="jumbotron" style="background-color:#f8f3e4;">

    <h1 class="text-center">
        <img src="~/Images/logo.png"
             alt="Company Logo" class="img-fluid float-left" style="width:20%" />Welcome to ReSell<br /> "Sell it, Buy it, or Trade it!"
    </h1>
</div>
<div class="fill">
    <div class="col-md-4">
        <p>
            <img src="~/images/YardSale1.5.jpg" alt="Garage Sale" asp-append-version="true"
                 class="float-left img-fluid col-sm-6" style="width:100%; border: solid; border-color:#cc5500;" />
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <img src="~/images/TRADE.png" alt="Trade" asp-append-version="true"
                 class="float-left img-fluid col-sm-6" style="width:100%;border: solid; border-color:#cc5500;" />
        </p>
    </div>
</div>
