@{
    ViewData["Title"] = "ReSell";
}

<div class="jumbotron" style="background-color:#f8f3e4;">

    <h1 class="text-center">
        <img src="~/Images/logo.png"
             alt="Company Logo" class="img-fluid float-left col-md-2" style="width:10%" />Welcome to ReSell<br /> "Sell it, Buy it, or Trade it!"
    </h1>
</div>
<div class="fill">
    <div class="col-md-2">
        <p>
            <img src="~/images/YardSale1.5.jpg" alt="Garage Sale" asp-append-version="true"
                 class="float-left img-fluid col-sm-4" style="width:50%; border: solid; border-color:#cc5500;" />
        </p>
    </div>
    <div class="col-md-2">
        <p>
            <img src="~/images/TRADE.png" alt="Trade" asp-append-version="true"
                 class="float-left img-fluid col-sm-4" style="width:50%;border: solid; border-color:#cc5500;" />
        </p>
    </div>
    <div class="col-md-2">
        <p>
            <img src="~/images/Random.png" alt="Random Stuff for Sale" asp-append-version="true"
                 class="float-left img-fluid col-sm-4" style="width:50%; border: solid; border-color:#cc5500;" />
        </p>
    </div>
</div>
