body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    color: #556b2f;
}
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.fill img {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%
}
